empire_state_building/esb_plans.jpg
empire_state_building/.idea
empire_state_building/test.py
empire_state_building/timed.py
empire_state_building/center_bottom_long.stl
empire_state_building/empire_state_building.blend1

*.blend1
venv
.idea
